html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin:0;
}

.top-page {
    display: block;
}

.nav{
    display:flex;
    background-color:black;
    color:white;
    justify-content:flex-start;
    flex-direction:row;
    height:50px;
    position:fixed;
    left:0;
    right:0;
    z-index:2;
    margin-top:0;
}

li{
    list-style:none;
    font-weight: 600;
    justify-content:space-between;
    cursor:pointer;
    display:flex;
    align-items:center;
}

ul{
    display:flex;
    width:100%;
    height:100%;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 20px;
}

.dropdown button{
    background-color:black;
    color:white;
    border:none;
    font-size:16px;
    font-weight: 549;
    cursor:point;
}

.dropdown{
    position:relative;
    display:inline-block;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color:white;
    color:black;
    z-index:1;
}

.dropdown-content a{
    display:block;
    color:black;
    padding:12px 16px;
    font-weight: 600;
}

.dropdown-content a:hover {
    background-color:#f1f1f1;
}

.dropdown:hover .dropdown-content {
    display:block;
}

.dropdown button:hover{
    color:gray;
    transform: translateY(-5px);
}
.search{
    padding:8px;
    margin:0 0 0 800px;
}




.firstimg {
    display:block;
    padding:50px 0 0 0;
}



.slider > img{
    width:100%;
}


h2{
    
    position:absolute;
    left:45%;
    z-index:1;
    top:600px;
    color:white;

}

.header h1{
    display:flex;
    justify-content:center;
    margin:0 0 30px;
}

a{
    text-decoration:none;
    color:white;
}

li a:hover{
    transform: translateY(-5px);
    color:gray;
}

.prg1{
    text-align:center;
    color:gray;
    font-size:20px;
    font-style:italic;
    margin:0;
}

.Band{
    margin:0 150px;
    padding-top:60px;
}

.firstcards{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin:px 200px 5px;
    padding-bottom: 45px;
    
    
}
body{
    margin:0;
}

.card{
    width:25%;
    height:90%;
    background-color:#000000;
    
}

img{
    width:100%;
    height:75%;
   
}

.content{
    display:flex;
    height:25%;
    width:100%;
    color:rgb(255, 255, 255);
    background-color:#000000;
    justify-content:center;
}

.header2 h1{
    margin:0;
    text-align:center;
    padding:60px 0 0 0;
    color:white;
}

.Tour{
    background-color:black;
    width:100%;
    
}
 .header2 p{
    color:white;
    text-align:center;
    font-size:20px;
    font-style:italic;
 }

 .table{
    
    width:700px;
    background-color:white;
    margin:0 350px;
    
 }

 .table p{
    color:rgb(0, 0, 0);
    padding:15px;
    margin:0;
    width:50%
    
    
 }

 hr{
    color:black;
    margin:0;
 }

 .m{
    width:123px;
    height:51px;
    background-color:red;
   
    
 }

 .m p{
    color:white;
    padding:15px;
    margin:0;
    width:50%
 }

.m1{
    position:relative;
    top:-157px;
    right:-927px;
    

}

.m2{
    position:relative;
    top:-156px;
    right:-927px;
    
    height:52px;
}

.m3{
    position:relative;
    top:-155px;
    right:-927px;
    height:52px;
}

.tourtickets{
    position:relative;
    width:900px;
    height:300px;
    background-color:rgb(0, 0, 0);
    margin:0 250px;
    z-index:1;
    top:-130px;
    display:flex;
    justify-content:space-between;

}

.tickets img{
    width:100%;
    height:180px;
}

.tickets{
    height:100%;
    width:30%;
    background-color:white;
}

.ticketsimg{
    width:100%
    height:40%;
}

.info{
    background-color:white;
    width:100%;
    height:60%
}

.info p{
    margin:10px 0 0 15px;
    
}

.info h4{
    margin:10px 0 0 15px;
    
}
#prg3{
    color:gray;
}

.button{
    background-color:black;
    margin:20px 17px ;
    width:120px;
    height:40px;
    color:white;
    font-size:16px;
    border:none;
}

.button:hover{
    background-color:gray;
    color:black;
}

input{
    width:200px;
    height:40px;
    margin:0 100px 0 0;
}

.Contact h1{
    padding:50px 0 30px;
    margin:0;
    text-align:center;
}

.header3 p{
    text-align:center;
    color:gray;
}

.formblank{
    display:flex;
    justify-content:space-around;
    
}

.sm{
    margin:0 0 0 100px;
}

.inputbutton button{
    width:100px;
    height:40px;
    margin:20px 0 0 107px;
    background-color:black;
    color:white;
    cursor:pointer;
    border:none;
    font-size:15px;

}

.inputbutton button:hover{
    background-color:gray;
    color:black;
}

.Contact{
    margin:0 0 200px
}

.footer{
    display:flex;
    width:100%;
    height:200px;
    justify-content:center;
    align-items:center;
}

.Footer i{
    font-size:40px;
    margin:5px
}

.src{
    position:relative;
    z-index:1;
    right:-580px;
    bottom:80px;
    color:gray;
}

